parameters:
	ignoreErrors:
		-
			message: "#^Method Kochan\\\\FroalaEditorBundle\\\\Tests\\\\KochanFroalaEditorTestingKernel\\:\\:configureContainer\\(\\) is unused\\.$#"
			count: 1
			path: tests/KochanFroalaEditorTestingKernel.php
