<?xml version="1.0" encoding="UTF-8"?>

<phpunit
    bootstrap="tests/bootstrap.php"
>
    <php>
        <env name="KERNEL_CLASS" value="Kochan\FroalaEditorBundle\Tests\KochanFroalaEditorTestingKernel" />
    </php>
    <testsuites>
        <testsuite name="KochanFroalaEditorBundle Test Suite">
            <directory>./tests/</directory>
        </testsuite>
    </testsuites>
</phpunit>
